div.menu {
    background-color: #f0f2f5;
    width: 100%;
    height: 65px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    svg {
        width: 15%;
    }
    p-avatar {
        padding-left: 15px;
        width: 50%;
    }
}