/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
}
.p-inputtext:enabled:focus {
    &:focus, :focus-visible, :focus-within, :visited, :target, :active {
        box-shadow: none;
    }
}